.tip-container{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.big-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsla(187, 74%, 71%, 0.927);
    border-radius: 10px;
}

.display-container{
    background-color: hsl(183, 100%, 15%);
    margin: 20px;
    color: hsl(189, 41%, 97%);
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.form-container{
    padding: 20px;
    width: 50%;
}

.amount-display{
    display: flex;
    justify-content: space-between;
}

h4, h5{
    margin: 10px;
    padding: 0%;
}

input{
    margin: 10px;
}

.btn-container{
    padding: 20px;
    width: 60%;
}

.btns{
    margin: 5px;
}